body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #d62828;
}

.dashboard {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h2 {
  color: #003049;
}

.card p {
  font-size: 2rem;
  color: #007f5f;
}

.chart-section {
  margin-top: 40px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  width: 90%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
